<h1>VirtualMachine#index</h1>
IP ADDRESS<br>
<% @virtual_machines.each do |virtual_machine| %>
    <%= virtual_machine.ipaddress %>
    <%= button_to("削除", "/virtual_machines/#{virtual_machine.id}", { method: :delete, data: { confirm: "本当に削除しますか？" } } ) %>
<% end %>