<div class="container">
    <p>IP ADDRESS</p>
    <%= form_with model: @virtual_machine, url: "/virtual_machines", html: {class: "form"} do |form| %>
        <%= form.text_field :ipaddress %>
        <%= form.submit "submit", class: "form_button" %>
    <% end %>
</div>
