<div>
    <p>IP ADDRESS</p>
    <%= form_with model: @virtual_machine, url: "/virtual_machines" do |form| %>
        <%= form.text_field :ipaddress %>
        <%= form.submit "submit" %>
    <% end %>
</div>
