// Place all the styles related to the VirtualMachine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0px 0px 10px 0px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

// applicationページ
header {
    display: flex;
    background: black;
    height: 80px;
    width: auto;
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
        margin: auto 0 auto 50px;
        justify-content: flex-start;
    }
    a:hover {
        color: orange;
    }
    ul {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
        margin: auto 50px auto auto;
        align-items: center;
    }
}

// indexページ

.title {
    display: flex;
    li {
        margin: 10px 50px;
        font-weight: bold;
    }
}

.content {
    display: flex;
    li {
        margin: 10px 50px;
        a {
            color: blue($color: #000000);
            text-decoration: none;
        }
        a:visited {
            color: purple;
        }
        a:hover {
            color: orange;
        }
    }
}

// newページ　showページ
.action_link {
    display: flex;
}

.container {
    p {
        font-size: large;
        margin: 30px 20px 20px 20px;
    }
    ul {
        text-align: left;
    }
    li {
        margin: 20px 20px 20px 20px;
    }
}

// form
.form {
    margin: 20px 20px 20px 20px;
}

.form_button {
    margin: 20px;
}
